.github-unreplied-comments.github-unreplied-comments-backgroundcolor-theme {
  background-color: #ffeaea;
}

.github-unreplied-comments.github-unreplied-comments-leftBorder-theme {
  border-left: 5px solid #e60000;
}

.github-unreplied-comments.github-unreplied-comments-pulsating-theme {
  animation: subtleBlinking 2s ease-in-out infinite;
}

@keyframes subtleBlinking {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #fde5ff;
  }
  100% {
    background-color: transparent;
  }
}
